<div class="jumbotron">
    <h1>OData Service Template</h1>
    <p class="lead">IEP Consumer Services OData Service Template</p>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Please provide examples for using the service</h2>
        <p>
            <a href="/odata3/v1/$metadata">OData 3 Metadata</a>
            <span class="small help-block">http://@ViewBag.Host/odata3/v1/$metadata</span>
        </p>
        <p>
            <a href="/odata4/v1/$metadata">OData 4 Metadata</a>
            <span class="small help-block">http://@ViewBag.Host/odata4/v1/$metadata</span>
        </p>
    </div>
</div>